name: Run Python scripts

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        pip install requests

    - name: Run Python scripts
      run: |
        python Scripts/Get-Renewed-Rules.py
        python Scripts/Merge-Rules-Renew.py
        python Scripts/Merge-Rules-ALL.py
        python Scripts/ALL-Lite-Convert.py

    - name: Upload ALL-Rule
      uses: actions/upload-artifact@v3
      with:
        name: all-rule
        path: /home/runner/work/AdGuardHomeRules/AdGuardHomeRules/all.txt

    - name: Upload ALL-Rule-Lite
      uses: actions/upload-artifact@v3
      with:
        name: all-lite
        path: /home/runner/work/AdGuardHomeRules/AdGuardHomeRules/all-lite.txt

    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add Part/* Renew/* Scripts/* all.txt all-lite.txt
        git diff-index --quiet HEAD || git commit -m "Update rules files"

    - name: Push changes
      run: |
        git push origin master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}